.clearfix{clear: both}
.footer{padding:20px;font-size:10px;margin-top:50px}
.toast{min-width:400px; width:400px !important}
.toast-success .toast-header{background:#38c172}
.toast-success .toast-body{background:rgba(56, 193, 114,.7);}
.toast-danger .toast-header{background:#e3342f;color:#fff}
.toast-danger .toast-body{background:rgba(227, 52, 47,.7);color:#fff}
.toast-info .toast-body{background:#4dc0b5}
.toast-info .toast-body{background:rgba(77, 192, 181,.7);}